In [20]:
import pandas as pd
from sklearn import preprocessing
import cv2
from PIL.Image import fromarray

In [3]:
train = pd.read_csv('./data/train.csv')

In [9]:
train.species.replace({"globis": "short_finned_pilot_whale",
                          "pilot_whale": "short_finned_pilot_whale",
                          "kiler_whale": "killer_whale",
                          "bottlenose_dolpin": "bottlenose_dolphin"}, inplace=True)

enc = preprocessing.LabelEncoder()
train['Y'] = enc.fit_transform(train['individual_id'])
train.to_csv('/content/happywhale/csv/train.csv', index=False)

In [7]:
train['individual_id'].nunique()

15587

In [10]:
train2

,image,species,individual_id,box
0,00021adfb725ed.jpg,melon_headed_whale,cadddb1636b9,2 116 802 665
1,000562241d384d.jpg,humpback_whale,1a71fbb72250,588 597 3504 1477
2,0007c33415ce37.jpg,false_killer_whale,60008f293a2b,0 453 3183 1589
3,0007d9bca26a99.jpg,bottlenose_dolphin,4b00fe572063,1 91 2636 1495
4,00087baf5cef7a.jpg,humpback_whale,8e5253662392,1139 1590 3574 1913
...,...,...,...,...
51028,fff639a7a78b3f.jpg,beluga,5ac053677ed1,NaN
51029,fff8b32daff17e.jpg,cuviers_beaked_whale,1184686361b3,2105 113 2294 157
51030,fff94675cc1aef.jpg,blue_whale,5401612696b9,NaN
51031,fffbc5dd642d8c.jpg,beluga,4000b3d7c24e,NaN
51032,fffdcd42312777.jpg,bottlenose_dolphin,4ddb2eeb5efb,1434 863 2884 1375

In [5]:
train2 = pd.read_csv('./data/train2.csv')

In [9]:
sum(train2['box'].isna())

15362

In [15]:
i = 0
sample = train2.iloc[i]
image_name = sample['image']
box = [int(i) for i in sample['box'].split()]